nav.nav-wpap

    a(href= nav.logo.link ).logo
        img(src= nav.logo.img).logo-img

    ul.nav-list
    each link, title in nav.navPages
        li.nav-item
            a(href= link).nav-link= title
