.wrapper
    footer
        .inner
            p.copyright= footer.copyright

            .social-list
                .social-item
                    a(href= footer.social.facebook).social-facebook
                .social-item
                    a(href= footer.social.google).social-google
                .social-item
                    a(href= footer.social.insta).social-insta


