.wrapper
    .join
        .inner
            h2.join-title= join.title
            p.join-text= join.text

            form(method='post').join-form
                input(type='email', placeholder='Your email address ...', title='youremail@gmail.com', required)
                input(type='submit', value='I`M READY').join-btn