.about
    padding 100px 0


.about-chapter
.about-title
    text-align center


.about-chapter
    font-size 18px
    color $dark-orange
    letter-spacing 0.05em


.about-title
    margin 25px 0 0 0
    font-size 36px
    letter-spacing 0.01em
    color $night-rider
    font-weight 500


.about-list
    display flex
    justify-content space-around


.about-item-group
    display flex


.about-item
    margin 75px 20px 0
    padding 150px 0 0 0
    max-width 315px
    text-align center
    background url('../img/content/about-item-bg.png') no-repeat center top
    transition 0.1s

    &:hover
        cursor pointer
        transform scale(1.02)


.about-item-title
.about-item-text
    font-size 18px
    letter-spacing 0.01em


.about-item-title
    margin 0 0 20px 0
    color $night-rider
    font-weight 500


.about-item-text
    color $zambezi
    line-height 24px


.about-item1
    background url('../img/content/about-item1.png') no-repeat center 110px


.about-item2
  background url('../img/content/about-item2.png') no-repeat center 110px


.about-item3
  background url('../img/content/about-item3.png') no-repeat center 110px


.about-item4
  background url('../img/content/about-item4.png') no-repeat center 110px


.about-item5
  background url('../img/content/about-item5.png') no-repeat center 110px


.about-item6
  background url('../img/content/about-item6.png') no-repeat center 110px