.contact
    background-color $white-smoke


.contact-list
    display flex
    justify-content space-between


.contact-tell
.contact-email
.contact-address
    background url('../img/general/contact-sprite.png') no-repeat left center
    padding 25px 0 25px 70px
    color $zambezi
    font-size 18px

    a
      color $zambezi


.contact-email
    background-position-x  -400px


.contact-address
    background-position-x  -800px