footer
    background-color $white
    border-top 2px solid $gainsboro

    .inner
        display flex
        justify-content space-between
        align-items center
        padding 25px 0


.copyright
    font-size 16px
    color $zambezi


.social-list
    display flex


.social-item
    margin 0 10px


.social-facebook
.social-google
.social-insta
    display inline-block
    border-radius 100%
    size(50px)
    background url('../img/general/footer-sprite.png') no-repeat

    &:hover
        background-color $dark-orange

    &:active
        background-color $bittersweet


.social-facebook
    background-position 16px 9px


.social-google
    background-position -47px  9px


.social-insta
    background-position -126px 9px