header
    background url('../img/general/header-bg2.png'), linear-gradient(135deg, rgb(247, 61, 75), rgb(255, 136, 0))
    background-blend-mode  unset
    background-repeat no-repeat
    background-position center top
    color $white


.header-title
.header-text
.header-screen
    letter-spacing 0.01em


.header-text
    font-size 20px
    line-height 36px


.header-inner
    display flex
    align-items center
    padding 125px 0 100px


.header-text-wrap
    max-width 570px


.header-img-wrap
    position relative
    size(297px, 588px)


.header-screen
    position(absolute,,,245px,110px)
    font-size 18px


.btn-header
    display inline-block
    padding 22px 55px
    max-width 245px
    font-size 18px
    border 2px solid $white
    border-radius 5px
    letter-spacing 0.05em

    &:hover
        background-color $white
        color $bittersweet