@import 'fonts.styl'
@import 'vars.styl'
@import 'libs.styl'
@import 'mixins.styl'
@import 'media.styl'

@import 'common_styles.styl'

@import 'pages/index.styl'

@import 'modules/header.styl'
@import 'modules/about.styl'
@import 'modules/join.styl'
@import 'modules/contact.styl'
@import 'modules/footer.styl'

@import 'components/navigation.styl'


html
	line-height 1
	font-size 16px


body
	font-family: 'Roboto', sans-serif


h1,h2,h3,h4,h5,h6
	margin 0


ul,li
	margin 0
	padding 0
	list-style-type none

p
	margin 0

a
	text-decoration none
	color $white
	transition .3s

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle


textarea
	resize none


section
	position relative


input,
select,
button
	outline none


*, *:before, *:after
	box-sizing border-box


