@media screen and (max-width: 1180px)
    .inner
        padding 0 20px



    // navigation
@media screen and (max-width: 800px)
    .nav-list
        display none

@media screen and (min-width: 800px)
    .nav-list
        display flex
        justify-content space-between

@media screen and (min-width: 800px)
    .nav-icon
    #toggle-btn
    .nav-mobile-list
        display none



    // header
@media screen and (max-width: 650px)
    .header-inner
        justify-content center

    .header-img-wrap
        margin 0 auto

    .header-text-wrap
        position absolute
        margin 0 auto
        padding 0 20px
        width 297px
        z-index 99 // '?'

    .header-title
        font-size 28px
        text-align center

    .header-text
        margin 30px 0 10px

    .btn-header
        margin-left 6px
        width 100%


    .header-screen
        display none


@media screen and (min-width: 650px)
    .header-inner
        justify-content space-between

    .header-text-wrap
        margin-right 20px

    .header-text
        margin 60px 0 100px

    .header-title
        font-size 38px

    .header-img-wrap
      background url('../../static/img/general/screen.png') no-repeat center 205px



// about
@media screen and (max-width: 600px)
    .about-list
        flex-direction column
        align-items center

    .about-item-group
        flex-direction column


@media screen and (min-width: 600px) and (max-width: 900px)
    .about-list
        flex-direction column
        align-items center

    .about-item-group
        flex-direction row


@media screen and (min-width: 900px)
  .about-list
      flex-direction row

  .about-item-group
      flex-direction column



    // join
@media screen and (min-width: 841px)
    .join-form
        justify-content space-between
        margin 0 auto
        width 800px

    input[type='email']
        width 100%
        max-width 600px

    .btn-join
        margin 0 0 0 25px


@media screen and (max-width: 840px)
    .join-form
        flex-direction column
        max-width auto

    .btn-join
        margin 25px 0px 0px 0px



    // contact
@media screen and  (max-width: 1028px)
    .contact-list
        flex-direction column
        align-items center

    .contact-item
        width 300px


    .contact-tell
    .contact-email
    .contact-address
        padding 25px 0 25px 50px
        font-size 14px



    // footer
@media screen and (max-width: 1180px)
    footer
        .inner
            padding 25px 20px


@media screen and (min-width: 1180px)
    footer
        .inner
            padding 25px 0


@media screen and (max-width: 468px)
    footer
        .inner
            flex-direction column-reverse

    .copyright
        margin 10px 0 0 0