@media screen and (max-width: 1180px)
    .inner
        padding 0 20px





  // join
@media screen and (min-width: 841px)
    .join-form
        justify-content space-between
        margin 0 auto
        width 800px

    input[type='email']
        width 100%
        max-width 600px

    .btn-join
        margin 0 0 0 25px


@media screen and (max-width: 840px)
    .join-form
        flex-direction column
        max-width auto

    .btn-join
        margin 25px 0px 0px 0px



    // contact
@media screen and  (max-width: 1028px)
    .contact-list
        flex-direction column
        align-items center

    .contact-item
        width 340px


    
    // footer
@media screen and (max-width: 1180px)
    footer
        .inner
            padding 25px 20px


@media screen and (min-width: 1180px)
    footer
        .inner
            padding 25px 0


@media screen and (max-width: 468px)
    footer
        .inner
            flex-direction column-reverse

    .copyright
        margin 10px 0 0 0